<nav class="navbar">
    <ul>
        <li><a href='/'>Home</a></li>
        <li><a href='/flowers'>Flowers</a></li>
        <li><a href='/plants'>Plants</a></li>
        <li><a href='/seeds'>Seeds</a></li>
    </ul>
</nav>