<div class='products'>
    <% if (locals.products) { %>
        <% products.forEach(product => { %>
            <div class="product-bubble">
                <img class="small-product-img" src=<%= `images/${product.name}.png` %> height="100px" width="100px" alt="image of <%=product.name%>"> </img>
                <p><%= product.name %></p>
                <p><%= product.price %></p>
            </div>
       <%  }) %>
    <% } %>
</div>
