:root {
  --light-blue: rgb(212, 240, 255);
  --light-contrast: rgb(237, 254, 255);
  --accent-color: rgb(250, 206, 226);
  --dark-color: #938d8d;
  --darker-color: #4c3e3e;
}

* {
  box-sizing: border-box;
}

html {
  height: 100vh;
}

body {
  height: 100%;
  background-color: var(--light-blue);
  margin: 0;
  display: flex;
  flex-direction: column;
}

header {
  padding: 24px;
  text-align: center;
}

h1 {
  font-size: 3rem;
}

header p {
  font-size: 1.5rem;
}

.navbar {
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: var(--light-blue);
}

.navbar ul {
  display: flex;
  list-style-type: none;
  justify-content: space-around;
  max-width: 800px;
  margin: auto;
  padding: 16px;   
}

.navbar a {
  background-color: black;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  border-radius: 50%;
  display: flex;
  padding: 8px 16px;
  aspect-ratio: 1/1;
  width: 90px;
  align-items: center;
  justify-content: center;
  transition: all .2s ease-in-out;
  cursor: pointer;
}

.navbar a:hover {
  transform: scale(1.1);
}

.navbar a, 
.navbar a:visited,
.navbar a:active {
  color: #fff;
  text-decoration: none;
}

.banner {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  background-image: url(../images/Cherry-blossom.png);
  background-size: cover;
  position: sticky;
  top: 122px;
  margin: 0;
}

.banner p {
  color: #fff;
  text-align: right;
  font-size: 5rem;
  margin: 32px;
  width: min-content;
}

.main-content {
  display: flex;
  justify-content: center;
  text-align: center;
  flex: 1;
  position: sticky;
  top: 122px;
}

.category-message {
  align-items: center;
  border-radius: 5px;
  display: flex;
  height: 65px;
  background-color: var(--accent-color);
  padding: 16px;
  width: fit-content;
  animation: swing 1.5s ease-in-out infinite;
  position: fixed;
  top: 350px;
  right: 25px;
  z-index: 1000;
}

.products {
  padding: 16px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: flex-start;
}

.product-bubble {
  aspect-ratio: 1;
  background-color: var(--light-blue);
  border-radius: 50%;
  border: 1px solid #000;
  height: 200px;
  margin: 16px;
  padding: 8px;
}

.product-bubble a,
.product-bubble a:active,
.product-bubble a:visited {
  color: black;
  text-decoration: none;
  font-weight: 600;
  font-size: 0.8rem;
  border-radius: 5px;
  background-color: #ffffff83;
  padding: 4px;
}

.product-bubble:hover {
  transform: scale(1.05);
}

.small-product-img {
  border-radius: 50%;
  margin-top: 4px;
}

.product-page {
  background-color: rgb(252, 238, 244);
  border: 1px dotted var(--light-contrast);
  border-radius: 10px;
  color: var(--darker-color);
  width: 60%;
  height: fit-content;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 32px;
}

.product-page > * {
  padding: 6px;
}

.reverse-btn,
.reverse-btn a:active,
.reverse-btn a:visited {
  color: #938d8d;
  text-decoration: none;
  align-self: end;
  border-radius: 5px;
  background-color: #ffffff83;
  margin: 16px;
}

.reverse-btn:hover {
  transform: scale(1.1);
}

footer {
    display: flex;
    justify-content: center;
    flex-shrink: 0;
    color: var(--dark-color);
    background-color: #ffffff83;
}

  @keyframes swing {
    0% {
      transform: rotate(0deg);
    }
    10% {
      transform: rotate(5deg);
    }
    20% {
      transform: rotate(-10deg);
    }
    30% {
      transform: rotate(10deg);
    }
    40% {
      transform: rotate(-5deg);
    }
    50% {
      transform: rotate(0deg);
    }
    60% {
      transform: rotate(5deg);
    }
    70% {
      transform: rotate(-5deg);
    }
    80% {
      transform: rotate(2deg);
    }
    90% {
      transform: rotate(-2deg);
    }
    100% {
      transform: rotate(0deg);
    }
  }
  
@media screen and (max-width: 480px) {
  .banner p {
    font-size: 3rem;
 } 

  .navbar a {
    width: 60px;

  }
}